.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    transition: background-color 0.3s ease;
}

.logo {
    color: #fff;
    font-size: 1.5rem;
}

.menu-toggle {
    display: none;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    transition: transform 0.3s ease; /* Added transition for scaling */
}

.nav-link:hover {
    color: #fbbf24;
    transform: scale(1.1); /* Scale effect on hover */
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        width: 100%;
        transition: all 0.3s ease; /* Added transition for mobile menu */
    }

    .nav-links.show {
        display: flex;
    }

    /* Animation for mobile menu */
    .nav-links {
        transform: translateY(-10px);
        opacity: 0;
    }

    .nav-links.show {
        transform: translateY(0);
        opacity: 1;
    }
}



/* Footer CSS */
.footer {
    background-color: #333; 
}

.footer a {
    color: #fff;
}

.footer a:hover {
    color: #fbbf24; 
    transform: scale(1.1);
    transition: color 0.3s ease, transform 0.3s ease; 
}